node_modules/
build/
*.idea/
.idea/
env/
dist/

.vscode/
.src/output.css

.env*
.flaskenv*
!.env.project
!.env.vault.codiumai
!.env.vault

.codiumai
.codium

src/output.css

.run/*
.run