@tailwind base;
@tailwind components;
@tailwind utilities;

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color: #e6f50a;
    height: 100vh;
    width: 100vw;
}


.button-style {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 35px;
    width: 100px;
    margin: 20px;
    padding: 4px;
    background-color: #0606d3;
    color: rgba(248, 244, 10, 0.15);
}

.main {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #7b88b0;
}

.side-bar-left {
    background-color: #011101;
    height: 100vh;
    width: 200px;
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: flex-start;
    left: 0;
}

.input-container {
    background-color: #0c0101;
    color: #ffffff;
    font-size: x-large;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: calc(100vw - 350px);
    margin-left: 200px;
    margin-right: 150px;
    margin-bottom: 20px;
    bottom: 0;
}

.output-container {
    background-color: #775353;
    color: white;
    p {
        color: #f65d06;
    }
    code {
        color: #94ef97;
        span {
            color: #f6b6b6;
        }

    }
    h1 {
        color: #07560b;
    }
    h2 {
        color: #0d277e;
    }
    h3 {
        color: #fa0c0c;
    }
    padding: 10px;
    display: flex;
    flex-direction: column;
    position: absolute;
    height: calc(100vh - 150px); /* Adjust height to fit within the viewport */
    width: calc(100vw - 350px);
    margin-left: 200px;
    margin-right: 150px;
    top: 0;
    overflow-y: auto;
}

.markdown-container {
    color: #ededf8;
    padding: 4px;
    border-radius: 8px;
}

.markdown-container a {
    color: #ffffff;
    text-decoration: none;
}

.markdown-container a:hover {
    text-decoration: underline;
}

.markdown-container ul,
.markdown-container ol {
    margin-left: 20px;
    margin-bottom: 20px;
}

.markdown-container blockquote {
    margin: 20px 0;
    padding: 10px 20px;
    border-left: 5px solid #ccc;
}

.markdown-container code {
    padding: 2px 4px;
    border-radius: 4px;
    font-family: 'Courier New', Courier, monospace;
}

.markdown-container pre {
    padding: 10px;
    border-radius: 8px;
}

.history {

}



.side-bar-right {
    background-color: #011101;
    height: 100vh;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    right: 0;
}

/* Custom Quill theme based on the snow theme */
.ql-container {
    border: 2px inset black;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    flex-grow: 1;
}

.ql-editor {
    min-height: 100px;
    max-height: 300px;
}

