@tailwind base;
@tailwind components;
@tailwind utilities;

nav {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color: #e6f50a;
    height: 100vh;
    width: 100vw;
}


.button-style {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 35px;
    width: 100px;
    margin: 20px;
    padding: 4px;
    background-color: #0606d3;
    color: rgba(248, 244, 10, 0.15);
}

.main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: auto;
    background-color: rgb(47, 129, 243);

    .input-container {
        background-color: rgba(72, 239, 119, 0.64);
        box-shadow: #32e1db 0px 0px 10px;
        color: #ffffff;
        font-size: x-large;
        position: absolute;
        margin-left: 200px;
        margin-right: 150px;
        padding: 10px;
        max-height: 500px;
        width: calc(100% - 350px);
        bottom: 0;

        textarea {
            margin-top: 5px;
            box-shadow: #5a5b45 0 5px 10px 3px;
            border-radius: 5px;
            border: #e6f50a 2px outset;
            max-height: 250px;
            font-size: medium;
            background-color: black;
            color: white;
            width: 100%;
            height: 150px;
            cursor: pointer;
            padding: 15px;
        }
    }

    .output-container {
        background-color: #070706;
        box-shadow: #111111 1px 1px 1px;
        border: 3px outset #0c0101;

        code {
            font-weight: bolder;
            font-size: large;
            font-style: "Burtons Nightmare", sans-serif, cursive, monospace;
            background: linear-gradient(to right, red, orange, white, green, deeppink, lightseagreen, violet);
            -webkit-background-clip: text;
            color: transparent;
            line-height: 2.0pt;

            comment {
                color: #97999f;
            }

        }

        h1 {
            font-weight: bolder;
            color: rgb(62, 198, 241);
        }

        h2 {
            font-weight: bolder;
            color: #b299ff;
        }

        h3 {
            font-weight: bolder;
            color: rgb(255, 176, 5);
        }

        strong {
            color: rgba(9, 227, 238, 0.97);
        }

        p {
            color: rgb(252, 252, 252);
        }

        ul {
            color: rgb(103, 250, 106);
        }

        ol {
            color: rgb(13, 252, 5);
        }

        padding: 15px;
        position: absolute;
        padding-bottom: 10px;
        height: calc(100vh - 350px); /* Adjust height to fit within the viewport */
        width: calc(100% - 350px);
        margin-left: 200px;
        overflow-y: auto;
        top: 0;
    }
}

.side-bar-left {
    box-shadow: #e6f50a 0px 0px 10px;
    text-align: center;
    font-weight: bold;
    padding: 5px;
    height: 100vh;
    max-width: 200px;
    position: absolute;
    overflow-x: auto;
    left: 0;
}

.side-bar-right {
    background-color: #011101;
    box-shadow: #fa5353 10px 0px 10px 10px;
    padding: 15px;
    opacity: 40%;
    height: 100vh;
    position: absolute;
    max-width: 150px;
    right: 0;
}


.markdown-container {
    height: 150px;
    padding: 15px;
    border-radius: 8px;
}

.markdown-container a {
    padding: 5px;
    text-decoration: none;
}

.markdown-container a:hover {
    text-decoration: underline;
}

.markdown-container ul,
.markdown-container ol {
    margin-left: 20px;
    margin-bottom: 20px;
}

.markdown-container blockquote {
    margin: 20px 0;
    padding: 10px 20px;
    border-left: 5px solid #23b926;
}

.markdown-container code {
    padding: 2px 4px;
    border-radius: 4px;
    font-family: 'Courier New', Courier, monospace;
}

.markdown-container pre {
    padding: 10px;
    border-radius: 8px;
}

/* Custom Quill theme based on the snow theme */
.ql-container {
    padding: 5px;
    border: 2px inset black;
}

.ql-editor {
    min-height: 150px;
    max-height: 300px;
}

